
/* Khi tách file css thì resource đi theo đường dẫn tương đối so với file css */
@font-face{
    font-family: fontGame;
    src: url(../gameXucXac/Pony.ttf)
}

.bg-Game {
    background-image: url(../gameXucXac/bgGame.png);
    width: 100vw;
    height: 100vh;
    font-family: fontGame;
}

